.div{
    background-color:aqua;
    margin: 10px;
    color: burlywood;
    padding: 10px;
    text-align: center;
    

}

#para{
    background-color: yellow;
    box-shadow: 10px;
    border-bottom: 10px solid green;
}